<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}My Flask App{% endblock %}</title>

  <!-- Common CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  
  <!-- Main page content -->
  {% block content %}{% endblock %}

  <!-- External JS libraries -->
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/cleave.js@1/dist/cleave.min.js"></script>

  <!-- JS for all pages-->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <!-- Custom JS for pages -->
  {% block scripts %}{% endblock %}
</body>
</html>