<!-- templates/payment.html -->
{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="desc-card text-center">
        <p>Enter Amount</p>
    </div>
    <input type="text" placeholder="฿ 0.00" id="amountField">
    <div class="text-center">
        <div class="desc-card" id="clientPhoto">
            <img src="{{ url_for('static', filename='img/7_eleven.png')}}" alt="client photo">
        </div>
        <div class="desc-card" id="clientName">
            <p>7-Eleven Bangkok</p>
        </div>
        <a href="/" class="btn" id="confirmButton">Confirm</a>
        <a href="/scanner" class="btn">Go Back</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/pages/currency_convert.js') }}"></script>
{% endblock %}
